#N
clock
reset
io_configMode
io_config_addr\[.*\]
io_config_data\[.*\]
io_config_writeEn
io_config_weightSel
io_status_ready
io_status_weightsLoaded

#S
io_dataValid
io_dataIn\[.*\]
io_predValid
io_predOut\[.*\]

#E

#W
